@font-face {
  font-family: PressStart;
  src: url(../fonts/PressStart2P.ttf);
}

* {
  font-family: PressStart;
  color: #a4a1b0;
  background-color: #3c3c3c;
}

#root {
  position: relative;
}

input {
  border: none;
  outline: none;
}

#view {
  border: 2px solid white;
}

#compass {
  position: absolute;
  left: 400px;
  top: 50px;
  width: 340.2px;
  height: 162px;
}

body {
  overflow: hidden;
  margin-top: 0;
}
