@font-face{
    font-family: PressStart;
    src: url(../fonts/PressStart2P.ttf)
}

*{
    font-family: PressStart;
    color: #A4A1B0;
    background-color: #3C3C3C;
}

#root{
    position: relative;
}

input{
    border:0px;
}

#view{
    border: 2px solid white;
}

#compass{
    position: absolute;
    left:400px;
    top: 50px;;
    width: 340.2px;
    height: 162px;
}

body{
    overflow: hidden;
    margin-top:0;
}